<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Which Teacher</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html"></a>
        </div>
        <nav class="main-nav">
            <ul class="dropdown-menu">
                <li><a href="#home"></a></li>
                <li><a href="#"></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </nav>
    </header>
</body>
</html>