<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/landingPage.css">
    <title>WhichTeacher</title>
</head>
<body class="teachers-regular">
    <div class="transition is active"></div>
    <header>
        <div id="title">
            <h1>WichTeacher</h1>
        </div>
        <ul>
            <a href="#"><li>Home</li></a>
            <a href="#"><li>About Us</li></a>
            <a href="#"><li>Contatos</li></a>
        </ul>
        <div class="nav_menu_btn" id="menu-btn">
            <!--<i class="ri-menu-line"></i>-->
        </div>
    </header>
    <main>
        <aside>
            <h2>Sua Jornada de </h2>
            <h2>Aprendizado</h2>
            <h2><span>Começa Aqui!</span></h2>
            <p>Bem-vindo ao nosso site! Conecte-se e potencialize seus estudos com professores qualificados e prontos para te ajudar.</p>
            <button onclick="window.location.href='#'">Sou Aluno</button>
            <button onclick="window.location.href='loginProfessor.html'">Sou Professor</button>
        </aside>
        <article>
            <a href="https://storyset.com/people"><img src="./img/Webinar-pana.png" alt="computador mostrando um professor com blusa roxa, cabelo preto e óculos redondos dando uma video aula, sendo acompanhado de um pequeno balão de fala. Em cada lado do computador a um vaso de plantas e atrás do computador esta uma pilha de livros. Em cima do computador esta dois balões de comentários, dois gráfico, sendo um deles um gráfico de pizza, e uma barra de volume de som em cima do professor."></a>
        </article>
    </main>
    <script src="js/landingPage.js"></script>
</body>
</html>