<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>WhichTeacher</title>
</head>
<body class="teachers-regular">
    <header>
        <div id="title">
            <h1>WichTeacher</h1>
        </div>
        <ul>
            <a href="#"><li>Home</li></a>
            <a href="#"><li>About Us</li></a>
            <a href="#"><li>Contatos</li></a>
        </ul>
    </header>
</body>
</html>