<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/perfilProfessor.css">
    <title>Perfil do Professor</title>
</head>

<body>
<body class="teachers-regular">

    <div class="profile">
        <div class="profile-header">
            <img src="./img/usuario.jpg" alt="Foto">
            <div>
                <h1>Nome do professor</h1>
                <p>Informações refrentes à bibliografia do professor.</p>
                <p>Sinta-se à vontade para entrar em contato e vamos trabalhar no seu conhecimento!</p>
            </div>
        </div>

        <div class="subjects">
            <h2>Sobre as Aulas</h2>
            <p>Matérias lecionadas:</p>
            <p>Horários disponíveis:</p>
        </div>

        <div class="languages">
            <h2>Idiomas</h2>
            <p>Português, Inglês, Espanhol.</p>
        </div>

        <div class="rate">
            <h2>Tarifa</h2>
            <p>R$ 00,00 a hora por aula.</p>
        </div>

        <div class="location">
            <h2>Local de Aula</h2>
            <p>Aulas presenciais em: </p>
        </div>

        <div class="contact">
            <h3>Configurações</h3>
            <div class="payment-communication">
                <label>Comunicação: </label>
                <select>
                    <option>Meet</option>
                    <option>Zoom</option>
                    <option>Discord</option>
                </select>
                <label>Número: </label>
                <input type="text" placeholder="+55 (11) 99999-9999">
            </div>
        </div>

        <div class="payment-communication">
            <label>Métodos de Pagamento:</label>
            <select>
                <option>PIX</option>
                <option>Cartão</option>
                <option>Boleto</option>
            </select>
        </div>
    </div>

</body>

</html>
</html>