body {
    background-color: #d9c2f062;
    color: #15202b;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
}
header {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 
.btn-abrir {
    cursor: pointer;
}
.btn-abrir i {
    color: #15202b;
    font-size: 30px;
}
.btn-abrir i:hover {
    color: #a885d8;
    transition: 0.5s;
}
.menu-mobile {
    background-color: #15202be5;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .2s;
}
.menu-mobile.abrir-menu {
    width: 70%;
}
nav.mobile ul {
    text-align: right;  
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

nav.mobile a {
    color: #ead8fc;
    padding: 30px 8%;
    list-style-type: none;
}
nav.mobile a:hover {
    color: #a885d8;
    transition: 0.3s;
}
.btn-fechar {
    padding: 20px;
}
.btn-fechar i {
    font-size: 30px;
    color: #fff;
}
.btn-fechar i:hover {
    cursor: pointer;
    color: #a885d8;
    transition: 0.5s;
}
#title {
    flex-direction: column;
}
nav.menu-desktop li {
    display: inline-block;
    margin: 30px;
}
nav.menu-desktop a {
    color: #492191;
    font-size: 20px;
    
}
nav.menu-desktop a:hover {
    color: #15202b;
    transition: 0.3s all;
}
main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
h2 {
    font-size: 56px;
    line-height: 40px;
}
span {
    color: #492191
}
P {
    line-height: 20px;
    max-width: 500px;
}
img {
    width: 620px;
    height: auto;
    position: relative;
    top: -100px;
}
button {
    border: 2px;
    border-radius: 30px;
    color: #D9C2F0;
    background-color: #492191;
    width: 40%;
    margin: 10px;
    margin-top: 30px;
    height: 50px;
    cursor: pointer;
    font-size: large;
}
button:hover {
    background-color: #4821914d;
    color: #15202b;
    transition: 0.5s all;
}
@media screen and (max-width: 1067px){
    .menu-desktop{
        display: none;
    }

    main{
        flex-direction: column;
        align-items: flex-start;
    }
    img{
        display: none;
    }
}    
@media (min-width: 1064px) {
    .btn-abrir {
        display: none; 
    }
}
