<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'busca.css' %}">
    <title>WhichTeacher</title>
    <style>
        #horarios-disponiveis {
            display: none;
            margin-top: 10px;
        }
    </style>
</head>

<body class="teachers-regular">
    <header class="container d-flex justify-content-between align-items-center py-3">
        <div class="logo">
            <a href="#" class="navbar-brand">
                <span class="text-black">Which</span><span class="text-purple">Teacher</span>
            </a>
        </div>
        <nav class="menu-desktop">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contatos</a></li>
                <li><a href="#">Serviços</a></li>
            </ul>
        </nav>
        <div class="menu-abrir" id="menu-abrir">
            <img src="{% static 'menu-line.svg' %}" alt="">
        </div>
        <div class="menu-mobile" id="menu-mobile">
            <div class="menu-fechar">
                <img src="{% static 'close-large-line.svg' %}" alt="">
            </div>
            <nav class="mobile">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contatos</a></li>
                    <li><a href="#">Serviços</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Seção de Agendamento de Aulas -->
    <div class="container">
        <h1><span>Agendamento de Aulas </span> - {{ professor.nome }}</h1>
        <form method="POST" action="{% url 'agendar_aula' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="data">Selecione a Data:</label>
                <input type="date" class="form-control" id="data" name="data" required>
            </div>
            <div class="form-group">
                <label for="horario-input">Horário:</label>
                <div class="input-group">
                    <input type="text" id="horario-input" class="form-control" placeholder="HH:MM" required>
                    <div class="input-group-append">
                        <button type="button" id="icon-horario" class="btn btn-secondary">
                            <i class="fas fa-clock"></i>
                        </button>
                    </div>
                </div>
                <button type="button" id="add-horario" class="btn btn-primary mt-2">Adicionar</button>
            </div>

            <!-- Aba de horários disponíveis -->
            <div id="horarios-disponiveis">
                <h5>Horários Disponíveis:</h5>
                <ul id="lista-horarios" class="list-group">
                    <!-- Os horários disponíveis serão adicionados aqui -->
                </ul>
            </div>

            <div id="horarios-container" class="mt-4">
                <h5>Horários Cadastrados:</h5>
                <div id="horarios-cards">
                    <!-- Os cartões de horário serão adicionados aqui -->
                </div>
            </div>
            <input type="hidden" id="horarios-input" name="horarios">
            <div class="form-group">
                <label for="observacoes">Observações:</label>
                <textarea class="form-control" id="observacoes" name="observacoes" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Agendar Aula</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script src="{% static 'agendamento.js' %}"></script> <!-- Carregando o novo arquivo JS -->
</body>

</html>