<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="stylesheet" href="{% static 'avaliacao.css' %}" />
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        rel="stylesheet"
    />
    <title>Avaliação da Aula do Professor</title>
</head>
<body>
    <div class="container">
        <h3>Avalie a aula do professor:</h3>
        <form method="post" action="{% url 'avaliacao' professor.id %}">
            {% csrf_token %}
            
            <!-- Sistema de Estrelas para Avaliação -->
            <div class="star-rating mb-3" style="display: flex; justify-content: center;">
                <input type="radio" id="estrela-5" name="rating" value="5" required />
                <label for="estrela-5">&#9733;</label>
                
                <input type="radio" id="estrela-4" name="rating" value="4" />
                <label for="estrela-4">&#9733;</label>
                
                <input type="radio" id="estrela-3" name="rating" value="3" />
                <label for="estrela-3">&#9733;</label>
                
                <input type="radio" id="estrela-2" name="rating" value="2" />
                <label for="estrela-2">&#9733;</label>
                
                <input type="radio" id="estrela-1" name="rating" value="1" />
                <label for="estrela-1">&#9733;</label>
            </div>

            <!-- Campo de Comentário -->
            <div class="mb-3">
                <textarea
                    class="form-control"
                    id="comentario"
                    name="comment"
                    rows="4"
                    placeholder="Escreva um comentário sobre a aula"
                ></textarea>
            </div>
            
            <!-- Botão de Envio -->
            <button type="submit" class="btn btn-primary">Enviar Avaliação</button>
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>