body {
    margin: 0;
    padding: 0;
    background-color: #d9c2f062;
    overflow-x: hidden;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: 50px;
}

.logo a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.text-black {
    color: black;
}

.text-purple {
    color: #492191;
}

/* Menu Desktop */
nav.menu-desktop ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

nav.menu-desktop li {
    display: inline-block;
    margin: 0 20px;
}

nav.menu-desktop a {
    text-decoration: none;
    color: #ffffff;
    background-color: #15202b;
    padding: 10px 20px;
    border-radius: 25px;
}

nav.menu-desktop a:hover {
    background-color: #492191;
    color: white;
    transition: 0.3s;
}

/* Botão de Menu Mobile */
.btn-abrir {
    cursor: pointer;
}

.btn-abrir i {
    color: #15202b;
    font-size: 30px;
}

.btn-abrir i:hover {
    color: #a885d8;
    transition: 0.5s;
}

/* Menu Mobile */
.menu-mobile {
    background-color: #15202bec;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

nav.mobile ul {
    text-align: right;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

nav.mobile a {
    color: #ead8fc;
    padding: 30px 8%;
    text-decoration: none;
}

nav.mobile a:hover {
    color: #a885d8;
    text-decoration: underline;
    transition: 0.3s;
}

.btn-fechar {
    padding: 20px;
}

.btn-fechar i {
    font-size: 30px;
    color: #fff;
}

.btn-fechar i:hover {
    cursor: pointer;
    color: #a885d8;
    transition: 0.5s;
}

.filter-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    /* Align them with space between */
    gap: 10px;
    /* Optional: Add space between the dropdowns */
}

.dropdown {
    flex-grow: 1;
    /* Allow the buttons to grow evenly */
}

#educationDropdown,
#subjectDropdown {
    background-color: #492191;
    border-radius: 50px;
}

#item-list {
    width: 100%;
    /* Updated width to match Bootstrap’s grid */
}

#item-list li {
    margin-bottom: 10px;
    /* Updated for better spacing between list items */
}

.imagem {
    width: 100vw;
}
<<<<<<< HEAD







=======
.imagem img{
    width: 100%;
    height: auto;
    display: block;
}
>>>>>>> 3a34f5e81b9a74829418788f79694d422a196c5e
.carousel-item img {
    border-radius: 10px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
}
