body {
    margin: 0;
    padding: 0;
    background-color: #d9c2f062;
    overflow-x: hidden;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: 50px;
}

.logo a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.text-black {
    color: black;
}

.text-purple {
    color: #492191;
}

/* Menu Desktop */
nav.menu-desktop ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

nav.menu-desktop li {
    display: inline-block;
    margin: 0 20px;
}

nav.menu-desktop a {
    text-decoration: none;
    color: #ffffff;
    background-color: #15202b;
    padding: 10px 20px;
    border-radius: 25px;
}

nav.menu-desktop a:hover {
    background-color: #492191;
    color: white;
    transition: 0.3s;
}

/* Botão de Menu Mobile */
.btn-abrir {
    cursor: pointer;
}

.btn-abrir i {
    color: #15202b;
    font-size: 30px;
}

.btn-abrir i:hover {
    color: #a885d8;
    transition: 0.5s;
}

/* Menu Mobile */
.menu-mobile {
    background-color: #15202bec;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

nav.mobile ul {
    text-align: right;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

nav.mobile a {
    color: #ead8fc;
    padding: 30px 8%;
    text-decoration: none;
}

nav.mobile a:hover {
    color: #a885d8;
    text-decoration: underline;
    transition: 0.3s;
}

.btn-fechar {
    padding: 20px;
}

.btn-fechar i {
    font-size: 30px;
    color: #fff;
}

.btn-fechar i:hover {
    cursor: pointer;
    color: #a885d8;
    transition: 0.5s;
}

.filter-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    /* Align them with space between */
    gap: 10px;
    /* Optional: Add space between the dropdowns */
}

.dropdown {
    flex-grow: 1;
    /* Allow the buttons to grow evenly */
}

#educationDropdown,
#subjectDropdown {
    background-color: #492191;
    border-radius: 50px;
}

#item-list {
    width: 100%;
    /* Updated width to match Bootstrap’s grid */
}

#item-list li {
    margin-bottom: 10px;
    /* Updated for better spacing between list items */
}

.imagem {
    width: 100vw;
}

.imagem img {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilizando os cards */
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    border-radius: 50%;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    text-align: center;
    width: 240px;
    height: 122.016px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #492191;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

.card-text:nth-child(2) {
    font-size: 1.1rem;
    font-weight: 600;
}

.card-text:last-child {
    font-size: 0.9rem;
    color: #999;
}

#item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col-md-4 {
    display: flex;
    align-items: stretch;
}

.col-md-4 .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.horizontal-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    height: 100%;
    padding: 15px;
    min-height: 150px; /* Define uma altura mínima */
}

.horizontal-card img {
    margin-right: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.horizontal-card .card-body {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px; /* Espaçamento entre os elementos */
}

.horizontal-card .card-title {
    font-size: 1.5rem;
    color: #492191;
}

.horizontal-card .card-text {
    color: #666;
}

.horizontal-card .card-text.materias {
    white-space: nowrap;
    overflow: hidden;
    
    max-width: 200px; /* Define um limite de largura */
}


