/* Ajusta o fundo da página */
body {
	background-color: #f5f5dc; /* Fundo bege claro */
}

/* Estilos para o contêiner principal */
.container-fluid {
	background-color: #a885d8; /* Fundo roxo claro */
}

/* Títulos e labels */
h1,
label {
	color: #15202b; /* Texto escuro */
}

/* Inputs Bootstrap com bordas personalizadas */
.form-control {
	border-radius: 55px;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
}

/* Botão de enviar (btn-success do Bootstrap) */
.btn-success {
	background-color: #482191; /* Botão roxo escuro */
	border-color: #482191;
	border-radius: 50px;
	width: 400px; /* Defina o tamanho desejado */
	height: 40px; /* Defina a altura desejada */
	font-size: 16px; /* Ajuste o tamanho da fonte, se necessário */
	display: block; /* Para garantir que o botão se comporte como um bloco */
	margin: 0 auto; /* Centraliza o botão se precisar */
}

/* Hover para o botão */
.btn-success:hover {
	background-color: #a885d8; /* Hover roxo claro */
	border-color: #a885d8;
}

.btn-primary {
	background-color: #482191aa;
	border-color: transparent;
	border-radius: 50px;
}

.btn-primary:hover {
	background-color: #a885d8;
}

/* Dropdowns */
.dropdown-menu {
	background-color: #f5f5dc; /* Fundo dropdown */
}

.dropdown-item:hover {
	background-color: #a885d8; /* Hover no item do dropdown */
	color: #15202b;
}

/* Texto e labels adicionais */
.form-check-label {
	color: #15202b;
}

/* Estilizando o input range */
input[type='range'] {
	-webkit-appearance: none;
	width: 100%;
	height: 8px;
	background: #ddd;
	border-radius: 5px;
	outline: none;
	transition: background 0.3s ease;
	position: relative;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	background: #6f42c1; /* Cor roxa */
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

input[type='range']::-moz-range-thumb {
	width: 15px;
	height: 15px;
	background: #6f42c1; /* Cor roxa */
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

input[type='range']::-ms-thumb {
	width: 15px;
	height: 15px;
	background: #6f42c1; /* Cor roxa */
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilo para o número exibido */
#rangeValue {
	top: -30px; /* Posição acima da bolinha */
	color: #6f42c1; /* Cor roxa para combinar */
	font-weight: bold;
	font-size: 16px;
	transition: left 0.1s ease; /* Suaviza o movimento */
}
/* Estilo do botão de dropdown para Forma de Pagamento */
.payment-dropdown {
	background-color: #6a0dad; /* Cor de fundo roxa */
	border: none;
	border-radius: 10px; /* Deixa os cantos levemente arredondados */
	color: #fff;
	padding: 10px 20px;
	text-align: left;
	font-size: 1rem;
}

.payment-dropdown::after {
	margin-right: 10px;
}
