/* Ajuste do fundo da página */
body {
    background-color: #f5f5dc; /* Fundo bege claro */
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contêiner principal do perfil */
.profile {
    background-color: #a885d8; /* Fundo roxo claro */
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
}

/* Cabeçalho do perfil */
.profile-header {
    display: flex;
    gap: 50px;
}

.profile-header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 3px solid #482191; /* Borda da imagem roxo escuro */
}

/* Estilos do texto */
h1 {
    color: #15202b;
}

/* Inputs */
input {
    border: 2px solid #482191;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}

input:focus {
    box-shadow: 0 0 10px rgba(72, 33, 145, 0.5); /* Efeito focus */
}

/* Estilos dos botões primários */
.btn-primary {
    background-color: #482191; /* Botões roxo escuro */
    border-color: #482191;
}

.btn-primary:hover {
    background-color: #a885d8; /* Hover roxo claro */
    border-color: #a885d8;
}

.btn-secondary {
    margin-left: 30rem;
    margin-top: 1rem;
    width: 20rem;
}

.cancelar {
    background-color: #b62e2e;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: transparent;
    border-color: transparent;
    width: 6rem;
    height: 2.4rem;
}
