/* Ajuste do fundo da página */
body {
    background-color: #d9c2f062; /* Fundo bege claro */
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.profile {
    background-color: #a885d8; 
    border-radius: 20px;
    padding: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
}

.profile-header {
    display: flex;
    gap: 50px;
}

.profile-header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 3px solid #482191; 
}


h1 {
    color: #15202b;
}

input {
    border: 2px solid #482191;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}

input:focus {
    box-shadow: 0 0 10px rgba(72, 33, 145, 0.5); 
}
*/

nav.menu-desktop ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

nav.menu-desktop li {
    display: inline-block;
    margin: 0 20px;
}

nav.menu-desktop a {
    text-decoration: none;
    color: #ffffff;
    background-color: #15202b;
    padding: 10px 20px;
    border-radius: 25px;
}

nav.menu-desktop a:hover {
    background-color: #492191;
    color: white;
    transition: 0.3s;
}

/* Botão de Menu Mobile */
.menu-abrir {
    cursor: pointer;
}

.menu-abrir img {
    width: 30px;
    margin-left: 10px;
}

/* Menu Mobile */
.menu-mobile {
    background-color: #15202baf;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu {
    width: 100%;
}

nav.mobile ul {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

nav.mobile li {
    list-style-type: none;
    text-decoration: none;
    margin: 20px;
}

nav.mobile a {
    color: #ead8fc;
    padding: 30px 8%;
    list-style-type: none;
    text-decoration: none;
}

nav.mobile a:hover {
    color: #a885d8;
    transition: 0.3s;
    text-decoration: underline;
}

.menu-fechar {
    padding: 20px;
}

.menu-fechar img {
    width: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-primary {
    background-color: #482191; 
    border-color: #482191;
}

.btn-primary:hover {
    background-color: #a885d8; 
    border-color: #a885d8;
}

.btn-secondary {
    margin-left: 25rem;
    margin-top: 1rem;
    width: 20rem;
}

.cancelar {
    background-color: #b62e2e;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: transparent;
    border-color: transparent;
    width: 5.8rem;
    height: 2.4rem;
}

.cancelar:hover {
    background-color: #b62e2e69;
    transition: 0.2s;
}

.nome {
    outline: none;
    border-color: transparent;
}